<div class="login-page">
    <a routerlink="/">
        <img src="/assets/trello-logo.svg" class="trello-main-logo" />
    </a>
    <div class="form-container">
        <div class="login-header">Register to Trello</div>
        <div class="errors" *ngIf="errors">{{ errors }}</div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input formControlName="email" type="email" placeholder="type e-mail" class="login-input" />
            <input formControlName="username" placeholder="type username" class="login-input" />
            <input formControlName="password" type="password" placeholder="type password" class="login-input" />
            <button type="submit" class="login-submit-button">Register</button>
        </form>
        <div class="bottom-form-links">
            <a routerlink="/login" class="register-link">Sign in</a>
        </div>
    </div>
</div>