<div class="inline-form-container" 
    [ngClass]="{'inline-form-container-editing': isEditing}"
    (click)="activeEditing()"
>
    <div class="inline-form-text"
        *ngIf="!isEditing">{{ defaultTextProps }}</div>
    <form [formGroup]="inLineForm"
          (ngSubmit)="onSubmit()"
          *ngIf="isEditing">
          <input type="text" 
                 class="inline-form-input"
                 formControlName="title"
                 [placeholder]="inputPlaceholderProps"
                 *ngIf="inputTypeProps === 'input'"
                 />
        <textarea class="inline-form-input"
                 formControlName="title"
                 *ngIf="inputTypeProps === 'textarea'"></textarea>
        <button class="inline-form-button"
                type="submit"
                [disabled]="inLineForm.invalid"
                *ngIf="hasButtonProps"
        >{{ buttonTextProps }}</button>
    </form>
</div>